<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content *ngIf="!employees">
          Could not connect to the server
        </ion-card-content>
      </ion-card>
    
  <ion-item *ngFor="let employee of employees" (click)="showEmployee(employee.id)">
    {{employee.employee_name}}
 </ion-item>
 
</ion-content>
